

/*Header */


header{
    background-color: rgb(117, 117, 117);
    height: 70px;
    text-align: center;
    align-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    


    font-family: "Sour Gummy", sans-serif;
        
        font-weight: 700;
        font-style: normal;
        font-variation-settings:
          "wdth" 100;
}


body{

border: 1px solid black;
border-radius: 10px;
max-width: 90%;
justify-self: center;
}

main{
background-color: rgb(163, 252, 252);



}


label{
    display: block;
    
}

.stars{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

.rating legend{
    position: relative;
    top: 30px;
}

.rating input{
    height: 20px;
}

legend{
    font-weight: 700;
    font-size: 1.1rem;

    font-family: "Sour Gummy", sans-serif;
        
        font-weight: 700;
        font-style: normal;
        font-variation-settings:
          "wdth" 100;
    
   
}

input, select, textarea{
    margin-right: 6px;
    width: 90%;
    margin: 5px;
    height: 45px;
    font-size: 1.2rem;
  
}

.checkbox input{
    width: auto;

    
    
}

footer{

    background-color: rgb(117, 117, 117);
    height: 70px;
    text-align: center;
    align-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;


    font-family: "Fira Sans Condensed", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.9rem;
    
}



div{
    margin-top: 2rem;
}

